@charset "utf-8";
/* CSS Document */

html{
	margin:0 auto;
	padding-top:5em;
	width:20em;
	font-family:"Century Gothic";
	background-color:#CCF;
}

h1{
	text-transform:uppercase;
}
#box{
	margin:0 auto;
	padding:1em 1em 1em 1em;
	border-radius: 6px 6px 6px 6px;
	text-align:center;
	background-color:#FFF;
}

p{
	text-align:left;
}

li {
	font-size:18px;
	cursor: pointer;
}

.deleted {
	color: #999;
	text-decoration: line-through;
}

#todolist{
	text-align:left;
	color:#CC0000;
}
