@charset "utf-8";
/* CSS Document */

html{
	margin:0 auto;
	padding:0;
	width:50%;
	font-family:"Century Gothic";
	background-color:#CCF;
}

h1{
	text-align:left;	
}

li {
	font-size:18px;
	cursor: pointer;
}

.deleted {
	color: #999;
	text-decoration: line-through;
}
