@charset "utf-8";
/* CSS Document */

html{
	margin:0 auto;
	padding:0;
	width:50%;
	background-color:#999;
	font-family:"Century Gothic";
}
h1{
	text-align:center;
}
form{
	margin:0 auto;
	padding:8px;
	background-color:#CCCCCC;
}
label{
	display:block;
}	
.error{
	color:#C00;
}
