@charset "utf-8";
/* CSS Document */

html{
	margin:0 auto;
	padding:0;
	width:50%;
	background-color:#999;
	font-family:"Century Gothic";
}

div{
	background-color:#6699FF;
	width: 200px;
	height: 200px;
	border-radius:100px;
	position: absolute;
	left: 200px;
	top: 200px;
	-moz-transition: all 250ms linear;
	text-align:center;
	font-size: 6em;
	vertical-align:200px;
	border:8px solid #333;
	line-height:180px;
}