@charset "utf-8";
/* CSS Document */

/*User Available*/
.user-available {
	font-size: 1.123em;
}

.user-available:before {
	content: "✔";			/*go to copypaste.com and paste the check mark*/
}

.user-available[data-status="unchecked"] {
	display:none;
}
.user-available[data-status="available"] {
	color:#090;
}

.user-available[data-status="unavailable"] {
	color:#f33;
}

.user-available[data-status="unavailable"]:before {
	content: "✖";
}

/*Password Available*/
.pass-reqs {
	list-style:none;
}
.pass-reqs li:before {
	font-size: 1.123em;
	color:#f33;
	content: "✖";
}
.pass-reqs li[data-state="achieved"]:before {
	color:#090;
	content: "✔";
}

/*City Available*/
/*.city-available {
	font-size: 1.123em;
}

.city-available:before {
	content: "✔";			/*go to copypaste.com and paste the check mark
}

.city-available[data-status="unchecked"] {
	display:none;
}
.city-available[data-status="available"] {
	color:#090;
}

.city-available[data-status="unavailable"] {
	color:#f33;
}

.city-available[data-status="unavailable"]:before {
	content: "✖";
}*/