@charset "utf-8";
/* CSS Document */
html{
	mragin:0;
	padding-top:2em;
	padding-left:20em;
	width:40%;
	font-family:"Century Gothic";
	background-color:#6CC;
}
body{
	margin:0;
	padding: 1em 1em 1em 1em;
	background-color:#F0F0F0;
	border-radius:4px 4px 4px 4px;
}
h1{
	text-align:center;
	text-transform:uppercase;
	color:#000;
}
p{
	color:#666;
}
li{
	color:#666;
}

label{
	color:#000;
	font-weight:bolder;
}
.submit{
	margin-top:1em;
}


/*User Available*/
.user-available {
	font-size: 1.123em;
}

.user-available:before {
	content: "✔";
}

.user-available[data-status="unchecked"] {
	display:none;
}
.user-available[data-status="available"] {
	color:#090;
}

.user-available[data-status="unavailable"] {
	color:#f33;
}

.user-available[data-status="unavailable"]:before {
	content: "✖";
}

/*Password Available*/
.pass-reqs {
	list-style:none;
}
.pass-reqs li:before {
	font-size: 1.123em;
	color:#f33;
	content: "✖";
}
.pass-reqs li[data-state="achieved"]:before {
	color:#090;
	content: "✔";
}

/*email Available*/

.email-correct {
	font-size: 1.123em;
}

.email-correct:before {
	content: "✔";
}

.email-correct[data-status="unchecked"] {
	display:none;
}
.email-correct[data-status="available"] {
	color:#090;
}

.email-correct[data-status="unavailable"] {
	color:#f33;
}

.email-correct[data-status="unavailable"]:before {
	content: "✖";
}


/*City Available*/

wrong-city{
	display: inline-block;
}
.wrong:after{
content:"✖";
color:#F00;

}