@charset "utf-8";
/* CSS Document */
html{
	background-color:#FFDFEF;
	font: normal 100%/1.5 san-serif;
	font-family:"Century Gothic";
	color:#663300;
	background: url(../images/pink-bars.gif) repeat-x 20%;
}
body{
	margin:0 auto;
	padding-top:4em;
	width:30em;
	
}
nav ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
nav li {
	display:inline;
}

nav a,
nav a:link,
nav a:visited{
	display:inline-block;
	border-radius: 4px 4px 0 0;
	background-color:#FFDFEF;
	padding:0.5em 1em;
	text-decoration:none;
	color:#FFF;
}
nav .current a,
nav .current a:link,
nav .current a:visited{
	background-color:#fff;
	color:#663300;
}
/*.info{
	background-color:#FFC6E2;
	border-radius: 0 4px 0 0;
	padding:1em;
}*/

/*cupcake pages*/
article{
	background-color:#FFDFEF;
	border-radius: 0 4px 0 0;
	padding:1em;
}

h1{
	font-size:25px;
}

p{
	font-size:18px;
}